asgiref==3.7.2
Django==4.2.2
flake8==6.0.0
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
random2==1.0.1
scapy==2.5.0
sockets==1.0.0
sqlparse==0.4.4
threaded==4.1.0
tzdata==2023.3
whitenoise==6.4.0
